<!DOCTYPE html>
<html>
<head>
    <title>Post Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 1000px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Reddit Sentiment Analysis</a>
    </nav>

    <div class="container">
        <h1>Post Results</h1>
        <h3>Post title: {{ post_title }}</h3>
        <h3>Post ID: {{ post_id }}</h3>
        <br>
        <h2>Post Text:</h2>
        <h3>{{ post_text }}</h3>
        <br><br>
        <h2>Sentiment Analysis:</h2>
        <h4>Sentiment polarity: {{ sentiment }}</h4>
        <h4>{{ pol_label }} sentiment</h4>
        <h4>Sentiment subjectivity: {{ subjectivity }}</h4>
        <h4>{{ sub_label }}</h4>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
